.DS_Store
*.txt
*.pyc
config.ini
*.db
**/__pychache__/**/*
logs/*
venv/*
.idea/*
.idea/**
*/.DS_Store
**/.DS_Store
**/*.sqlite
**/*.table
*.table
**/*.db
**/node_modules/**
**/node_modules/*
**/web-server/**/**.js
**/web-server/**/*.js
analytics-apps/wifi_data_until_20190204.csv
**/logs/
**/.ipynb_checkpoints/

# No csvs
*.csv

# Excel Workbooks
*.xlsx

# Jupyter PDF Exports
*.tex
output_*.png