.DS_Store
*.txt
*.pyc
config.ini
*.db
__pycache__/*
logs/*
venv/*
.idea/*
.idea/**
*/.DS_Store
**/.DS_Store
**/*.sqlite
**/*.table
**/*.db
**/node_modules/**
**/node_modules/*
**/web-server/**.js
**/web-server/*.js